body{
    background-color: #fdf1ff;
    font-family:Arial, Helvetica, sans-serif;
}

div{
    background-color: #eaffe3;
}

#Primero{
    color: #90c77b;
    font-size: 20px;
    font-style: oblique;
}

#Ultimo{
    color: #90c77b;
    font-size: 20px;
    font-style: oblique;
}
#Poetas{
    text-decoration: underline;
    color:#882298;
    font-size: 25px;
    font-weight: bold;
}
#AmadoNervo{
    text-decoration: underline;
    color:#882298;
    font-size: 15px;
    font-weight: bold;
}

#Octavio
{
    color: #0100ff;
    font-size: 30px;
}
#Jaime
{
    color: #0100ff;
    font-size: 30px;
}
#SorJuana
{
    color: #0100ff;
    font-size: 30px;
}

#Carmen
{
    color: #0100ff;
    font-size: 30px;
}

#Javier
{
    color: #0100ff;
    font-size: 30px;
}

#PoetasMex
{
    color: #0100ff;
    font-size: 30px;
}